# Create a .env file and copy this in it

GALAXY_URL='https://usegalaxy.eu/'
GALAXY_API_KEY='GALAXY_API_KEY_HERE'  # Replace with your Galaxy API key
GEMINI_API_KEY='YOUR_GEMINI_API_KEY_HERE'  # Replace with your Gemini API
GITHUB_TOKEN='YOUR_PAN_TOKEN_HERE'  # Replace with your GitHub personal access token for higher rate limitss
OPENAI_API_KEY='YOUR_OPENAI_API_KEY_HERE'  # Replace with your OpenAI API key