# Ignore environment files
.env
__pycache__/
# Ignore other unimportant files
*.sublime-workspace
*.sublime-project
*.code-workspace
*.log.*
*.tmp.*
*.bak.*
*.swp.*
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
node_modules/
dist/
build/
coverage/
.idea/
.vscode/
*.iml
tool_suggestion_model/fine_tuned_sbert_for_galaxy_v1/
tool_suggestion_model/fine_tuned_E5_for_galaxy_v1
tool_suggestion_model/fine_tuned_E5_for_galaxy_v2/
tool_suggestion_model/fine_tuned_E5_for_galaxy_v3/
venv
galaxy_tools.json
*.xlsx*

