# Environment variable loader
python-dotenv>=1.0.0

# Galaxy API client
bioblend>=0.16.0
# Sentence-BERT (SBERT)
sentence-transformers>=2.2.2

# tdqm for progress bars
tqdm>=4.64.0

# PyYAML for YAML parsing
PyYAML>=6.0
openpyxl >= 3.1.5
pandas >= 2.2.3
pydantic-settings >= 2.9.1
fastapi >= 0.115.12
pydantic-settings 
pydantic>=2.7.0
fastapi>=0.115.12
uvicorn>=0.35.0
google-generativeai>=0.8.5

# testing + utils
pytest>=8.3.0
numpy>=1.26.0